<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Student List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Contact</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of studentList">
            <td>{{student.name}}</td>
            <td>{{student.address}}</td>
            <td>{{student.contact}}</td>
            <td>
                <button (click)="updateStudent(student.id)" class="btn btn-info">Update</button>
                <button (click)="deleteStudent(student.id)" class="btn btn-danger">Delete</button>
                <button (click)="goToDetails(student.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>